
a{
    text-decoration: none;
      
}
.links{
    align-items: center;
    
}
.header{
    background-color: beige;
}
.links{
    display: flex;
   
   justify-content: end;
}
.link{
    padding: 10px;
  
        align-items: center;
        font-size: 20px;
        font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.link:hover{
    display: block;
    background-color: blue;

        align-items: center;
        border-radius: 5px;
       
}
a{
    color:black;
}
a:hover{
    color:aliceblue;
}